@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #aae8ff;
    --background-color: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
}

.morning-theme { color: #aae8ff; }
.afternoon-theme { color: #ffebaa; }
.night-theme { color: #ffbbaa; }

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}


.main-content {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#greeting {
    text-align: center;
}

.time {
    font-size: 10rem;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.options-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    transition: 100ms ease-out;
    color: var(--main-color);
}

.options-btn:hover {
    transform: scale(1.1);
}

.material-symbols-outlined {
    font-size: inherit;
}

.options-btn .material-symbols-outlined {
    font-size: 3rem !important; /* Ensure the font size is inherited */
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sidebar {
    visibility: hidden;
    background-color: color-mix(var(--main-color) 10%, var(--background-color));
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    box-sizing: border-box;
    margin: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.active {
    visibility: visible;
}